
  <%= render "menu/menu" %>

<tr id="pagespace" title="" style="height:10px"></tr>
          <tr>
            <td>
<table class="itemlist" cellspacing="0" cellpadding="0" border="0">
  <tr>
    <td>
        <%= render "comentari",  comentaris: @comentaris %>      

    </td>
  </tr>
</table>